html
  head
    title
      | Hello, World!
  body
    h1
      | Hello, there!
    script(type="text/javascript" src="/assets/javascripts/index.js")
    script(type="text/javascript" src="/assets/javascripts/partials.js")
